@model IEnumerable<User_Management_System_V2._0.Models.Product>

@{
    ViewBag.Title = "Your Requested Items";
}


<div class="row pr-0 mr-0 " style="margin-left:10%; margin-top:0px">
    <div class="col-md-12 ml-0" style="height:100%; width:100%">
        <div class=" row mb-3 justify-content-around" style=" margin-top:50px; margin-left:0px">

            @{
                if(Model.Count()==0)
                {
                    <div class="container h-100" style="margin-top:100px">
                        <div class="row align-items-center h-100">
                            <div class="col-12 mx-auto" style="width:100%">
                                <div class="jumbotron text-center">
                                    <h4 class="text-info">No Items Requested!</h4>
                                    <p class="lead">
                                        No Items have been Requested By You. Go to dashboard and request the item if you are interested in buying.
                                    </p>
                                    <p class="lead">
                                        <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Dashboard")" role="button">Go to Dashboard</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {

                    foreach (var product in Model)
                    {
                    
                    <br/>
                        var base64 = Convert.ToBase64String(product.Photo);
                        var imgsrc = String.Format("data:image/gif; base64, {0}", base64);

                        <div class="p-2 bd-highlight">
                            <div class="card border-primary" style="width: 12rem;">
                                <center>
                                    <div style="height:150px;width:150px" class="pt-2">
                                        <img class="card-img-top" src="@imgsrc" alt="Card image cap">
                                    </div>
                                    <div class="card-body">

                                        <h5 class="card-title">@product.ProductName</h5>
                                        <p>Price: @product.PriceExpected</p>
                                        <a href="@Url.Action("Unrequested","Products", new { id = product.ProductID })" class="btn btn-secondary">UnRequest item</a>
                                        

                                    </div>

                                </center>
                            </div>
                        </div>
                    }
                }
            }




        </div>
    </div>
</div>






