
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .fixednav {
            position: fixed;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="#">RECMart</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","Dashboard")">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Register","Account")">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Tnc","Account")">TnC</a>
                </li>

                @{
                    if (WebSecurity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("YourRequestedItems","Products")"> Your Cart</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Create","Products")"> Post Ad</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("SignOut","Account")">Sign Out</a>
                        </li>
                    }
                }

            </ul>
            @*<form class="form-inline my-2 my-lg-0"  method="get" action="Search">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">

                <input type="submit" class="btn btn-outline-success my-2 my-sm-0" value="Search" />
            </form>*@

            @{ if (WebSecurity.IsAuthenticated)
                {
                    using (Html.BeginForm("Search", "Products", FormMethod.Get))
                    {

                        <div class="dl-horizontal form-inline">
                            <input type="text" class="form-control mr-sm-2" name="SearchQuery" placeholder="Search">
                            <input type="submit" class="form-control btn btn-outline-success my-2 my-sm-0" value="Search Local" />
                        </div>
                    }
                }
            }
        </div>
    </nav>
    <center>
        @{

            if (WebSecurity.IsAuthenticated)
            {
                <a href="@Url.Action("Signout","Account")" class="btn btn-danger">Log Out</a>
            }
        }
    </center>
    <div class="content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

